<h1>Hola mundo view</h1>
  <ul>
    <li><%=@empleado.nombres%></li>
    <li><%=@empleado.apellido_paterno%></li>
    <li><%=@empleado.apellido_materno%></li>
    <li><%=@empleado.rfc_corto%></li>
    <li><%=@empleado.administracion%></li>
    <li><%=@empleado.curp%></li>
    <li><%=@empleado.celular%></li>
    <li><%=@empleado.alergia%></li>
    <li><%@empleado.homeoffices.each do |homeoffice|%></li>
    <li><%=homeoffice.fecha_homeoffice%></li>
    <%end%>
  </ul>

  <h2><%= link_to "Modificar", edit_empleado_path(@empleado)%></h2>
  <h2><%= link_to "Eliminar", empleado_path(@empleado),data: {turbo_method: :delete, turbo_confirm: "¿Estas seguro chav@?"}%></h2>
  <h2><%= link_to "Volver", empleados_path%></h2>
  <h2><%= link_to "Ingresar Home Office", new_empleado_homeoffice_path(@empleado)%></h2>
  <h2><%= link_to "Ingresar Movimiento", movimientos_new_path%></h2>
