<h1>Hola mundo view</h1>
  <ul>
    <li><%=@empleado.nombres%></li>
    <li><%=@empleado.apellido_paterno%></li>
    <li><%=@empleado.apellido_materno%></li>
    <li><%=@empleado.rfc_corto%></li>
    <li><%=@empleado.administracion%></li>
    <li><%=@empleado.curp%></li>
    <li><%=@empleado.celular%></li>
    <li><%=@empleado.alergia%></li>
    <li><%=@empleado.ip_domicilio%></li>
    <li><%=@empleado.mac_adress%></li>
    <li><%=@empleado.cp_domicilio%></li>
    <li><%=@empleado.padecimiento%></li>
    <li><%=@empleado.tipo_sangre%></li>
    <li><%=@empleado.medicamento%></li>
    <li><%=@empleado.num_empleado%></li>
    <%@empleado.homeoffices.each do |homeoffice|%>
    <li><%=homeoffice.fecha_homeoffice%> <%= link_to "Ingresar hora de entrada o salida", new_empleado_homeoffice_registroho_path(@empleado,homeoffice.id)%></li>
    <%homeoffice.registrohos.each do |registroho|%>
      <li>Hora de Entrada:  <%=registroho.hora_entrada%></li>
      <li>Hora de Salida:  <%=registroho.hora_salida%></li>
      <%end%>
    <%end%>
  </ul>

  <h2><%= link_to "Modificar", edit_empleado_path(@empleado)%></h2>
  <h2><%= link_to "Eliminar", empleado_path(@empleado),data: {turbo_method: :delete, turbo_confirm: "¿Estas seguro chav@?"}%></h2>
  <h2><%= link_to "Volver", empleados_path%></h2>
  <h2><%= link_to "Ingresar Home Office", new_empleado_homeoffice_path(@empleado)%></h2>
